* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Raleway", sans-serif;
}

.realProfileWrap {
	margin: 16px 100px;
	padding-top: 130px;
	position: relative;
}
.realProfileBody {
	padding: 30px 55px;
	background-color: rgba(247, 247, 247, 1);
	border-radius: 5px;
}
.realProfileTitle {
	font-size: 32px;
	line-height: 37px;
	color: rgba(34, 34, 34, 1);
	margin-bottom: 54px;
}
.realProfileContent {
	max-width: 700px;
}

.profileContentHead {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 25px;
}

.realProfileMainImg {
	width: 142px;
}

.realProfileUserName {
	font-size: 30px;
	line-height: 35px;
}
.realProfileGoldStar {
	margin: 10px 0 26px;
}
.realProfileUserInfo {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 7px;
}
.montserratFamily {
	font-family: "Montserrat", sans-serif;
}

.realProfileGTitle {
	font-size: 20px;
	line-height: 25px;
	font-weight: 600;
}
.realProfileAddress {
	margin: 21px 0px 41px;
}
.realProLighter {
	font-weight: 300;
}

.shortInfoORealUser {
	font-size: 16px;
	line-height: 20px;
	font-weight: 300;
	margin-top: 10px;
}

.realProfileFootHead {
	margin-top: 42px;
}
.realProfileReview {
	padding-bottom: 11px;
	border-bottom: 1px solid rgba(34, 34, 34, 1);
}
.realProfileSelect {
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	padding: 7px 41px 7px 21px;
	font-family: inherit;
	outline: none;
	border: 0.5px solid rgba(255, 0, 90, 1);
	border-radius: 5px;
	appearance: none;
}

.realProfileSelectWrap {
	margin-top: 27px;
	position: relative;
	width: fit-content;
}
.arrowOpenRealProfile {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 14px;
	width: 12px;
}

.realProfileUsers {
	margin-top: 40px;
}
.realProfileUser {
	display: flex;
	justify-content: flex-start;
	gap: 22px;
	align-items: center;
	padding: 24px 0;
}

.hasBorderTop {
	padding-bottom: 0;
	border-top: 1px solid rgba(34, 34, 34, 1);
}

.realProfileUserImg {
	width: 81px;
	height: 81px;
}

.realProfileFootTitle {
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
}
.orderStarWrap {
	display: flex;
	justify-content: flex-start;
	gap: 20px;
	margin: 2px 0 10px;
}
.realProfileOrderNum {
	font-size: 16px;
	line-height: 19px;
}
.realProGoldStar {
	width: 81px;
	height: 14.71px;
}
.realOrderSrok {
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
}

/* userLoginWrapper start */
.userLoginWrap {
	border: 0.5px solid rgba(255, 0, 90, 1);
	border-radius: 5px;
	width: 213px;
	position: absolute;
	top: 0;
	right: 0;
	background-color: white;
}
.userLoginHead {
	border-bottom: 0.5px solid rgba(255, 0, 90, 1);
	padding: 11px;
}
.userName {
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
}
.userEmail {
	font-size: 12px;
	line-height: 14px;
	margin-top: 11px;
}
.userLoginUl {
	list-style: none;
	padding: 11px 11px 0 11px;
}
.userLoginItem {
	margin-bottom: 12px;
	font-size: 16px;
	line-height: 18px;
	font-family: inherit;
}
.loginFocus {
	color: rgba(255, 0, 90, 1);
}
