* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Raleway", sans-serif;
}

.adminWord {
	font-weight: 700;
	font-size: 24px;
	line-height: 22px;
	text-align: right;
	margin-bottom: 55px;
}

.actions,
.orderTypes {
	list-style: none;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	gap: 80px;
	border-bottom: 0.5px solid rgba(96, 97, 97, 0.6);
}
.action-type {
	font-size: 24px;
	line-height: 22px;
	font-family: "Raleway", sans-serif;
	font-weight: 400;
	padding-bottom: 20px;
}

.onIt {
	font-weight: 600 !important;
	border-bottom: 0.5px solid rgba(255, 0, 90, 1) !important;
}

.orderTypes {
	margin-top: 54px;
}

.orderType {
	font-size: 20px;
	line-height: 19px;
	font-weight: 600;
	padding-bottom: 22px;
	font-weight: 400;
}

.redFont {
	color: rgba(255, 0, 90, 1) !important;
	font-family: "Raleway", sans-serif;
}

.redUnderline {
	text-decoration: underline 1px solid red;
}

.firstOrderWrapper {
	margin: 54px 100px;
	padding: 20px 0;
}

.relativeCatalog {
	position: relative;
}
.absoluteSpan {
	position: absolute;
	color: rgba(136, 136, 136, 1);
	top: -10px;
}

.orderInfos {
	list-style: none;
	display: flex;
	justify-content: flex-start;
	gap: 135px;
	margin-top: 54px;
	border-bottom: 1px solid rgba(96, 97, 97, 1);
}
.orderInfo {
	padding-bottom: 14px;
	font-size: 19px;
	line-height: 18px;
	font-weight: 500;
	font-family: "Raleway", sans-serif;
}

.orderRealInfos {
	list-style: none;
	display: flex;
	justify-content: flex-start;
	gap: 147px;
}
.orderRealInfo {
	padding: 28px 0;
	font-size: 16px;
	line-height: 15px;
	font-weight: 300;
	font-family: "Radio Canada", sans-serif;
}

.stateSelectWrap {
	position: relative;
}
.stateSelect {
	padding: 8px;
	font-family: "Raleway", sans-serif;
	outline: none;
	background-color: white;
	-moz-appearance: none;
	-webkit-appearance: none;
	border-radius: 2px;
	appearance: none;
	color: rgba(96, 97, 97, 1);
	font-weight: 300;
	font-size: 16px;
	line-height: 15px;
}

.stateSelectArrows {
	position: absolute;
	top: 50%;
	right: 9px;
	transform: translateY(-50%);
	width: 9px;
	height: 9px;
	width: 10px;
}
.arrowClose {
	display: none;
}

.getNone {
	display: none;
}
.getBlock {
	display: block;
}

.stateSelect::-ms-expand {
	display: none;
}

.stateSelect > option {
	font-size: 16px;
	line-height: 15px;
	padding: 4px 8px;
	color: rgba(96, 97, 97, 1);
	font-family: "Raleway", sans-serif;
}

/* secondOrderWrapper start */
.secondOrderWrapper {
	border-top: 5px solid black;
	margin: 200px 100px;
	padding: 20px 0;
}

.chatBody {
	display: flex;
	justify-content: flex-start;
	gap: 30px;
	margin-top: 54px;
}
.chatLeft {
	width: 310px;
	text-align: center;
}
.orderChatNumber,
.chatNumber {
	padding: 17px 55px;
	border-radius: 5px;
	font-size: 20px;
	line-height: 19px;
	font-weight: 400;
}
.orderChatNumber {
	background-color: rgba(217, 217, 217, 0.4);
}
.realNumberJust {
	font-weight: 600 !important;
}

.chatRight {
	background-color: rgba(217, 217, 217, 0.4);
	width: 800px;
	border-radius: 6px;
}

.orderNumberRight {
	padding: 16px 21px;
	border-bottom: 0.5px solid rgba(34, 34, 34, 1);
	font-size: 20px;
	line-height: 19px;
	font-weight: 400;
	text-align: right;
}

.adminsMessage {
	margin-left: auto;
	text-align: right;
	margin-top: 94px;
	margin-right: 25px;
}
.adminChatWord {
	font-size: 14px;
	line-height: 13px;
	font-weight: 600;
}
.realAdminMeassage {
	width: 320px;
	height: 100px;
	background-color: rgba(217, 217, 217, 0.69);
	margin-left: auto;
	margin-top: 8px;
	border-radius: 5px;
}
.messageSendWrap {
	margin-top: 250px;
}
.chatDesc {
	text-align: center;
	color: rgba(96, 97, 97, 1);
	font-size: 14px;
	line-height: 13px;
	font-family: "Raleway", sans-serif;
	font-weight: 400;
}
.messageTextWrap {
	border: 2px solid rgba(34, 34, 34, 1);
	border-radius: 3px;
	margin: 7px 29px 29px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: rgba(232, 232, 232, 0.51);
	position: relative;
	padding: 14px 14px 0 14px;
}
.messageInput {
	resize: none;
	border: none;
	outline: none;
	height: 100%;
	width: 100%;
	padding: 0;
	font-size: 16px;
	line-height: 15px;
	font-weight: 400;
	color: rgba(136, 136, 136, 1);
	background-color: inherit;
}
.messageInput::placeholder {
	color: rgba(136, 136, 136, 1);
	font-family: inherit;
}

.sendImg {
	position: absolute;
	right: 12px;
	top: 12px;
}
