* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Raleway", sans-serif;
}

.moreInfoWrapper {
	margin: 130px 100px;
	position: relative;
}
.moreInfoHead {
	display: flex;
	justify-content: space-between;
}
.moreInfoHeadLeft {
	width: 46%;
	display: flex;
	justify-content: space-between;
}
.moreInfoHeadRight {
	width: 52%;
}
.infoHeadleftItems {
	display: flex;
	width: 130px;
	flex-wrap: wrap;
}
.infoHeadLeftItemWrap {
	background-color: rgba(248, 248, 248, 1);
	width: 100%;
	height: 105px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 15px 15px 0;
	border-radius: 3px;
}
.infoHeadleftItem {
	width: 39px;
	height: 65px;
}

.mtNone {
	margin-bottom: 0 !important;
}

.infoHeadMainImgWrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(248, 248, 248, 1);
	border-radius: 7px;
	flex-grow: 1;
	position: relative;
}
.infoHeadMainImg {
	display: block;
	margin: 0 auto;
	width: 210px;
	height: 326px;
}

.perfumeName {
	font-size: 20px;
	line-height: 16px;
	font-weight: 700;
	letter-spacing: 1px;
	margin-bottom: 14px;
}
.perfumeMl {
	font-size: 28px;
	line-height: 33px;
	font-family: "Raleway", sans-serif;
	color: rgba(26, 26, 26, 0.5);
	font-weight: 600;
}
.perfumeRealPrice {
	font-size: 24px;
	line-height: 28px;
	color: rgba(26, 26, 26, 1);
	margin: 18px 0;
	font-weight: 700;
}
.perfumeName {
	font-size: 16px;
	line-height: 12px;
	letter-spacing: 1px;
	color: rgba(26, 26, 26, 1);
}
.infoRightHeadBottom {
	margin-top: 114px;
}
.perfumeProDesc {
	font-weight: 600;
}
.perfumeProRealDesc {
	font-size: 16px;
	line-height: 22px;
	text-align: justify;
	letter-spacing: 1px;
	font-weight: 300;
}

.emptyHeart {
	position: absolute;
	top: 0;
	right: 0;
}

.justBorders {
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: -18px;
	display: flex;
	justify-content: flex-start;
	background-color: rgba(140, 140, 140, 0.6);
}
.justBorder {
	width: 25%;
	height: 100%;
}
.redBorderOn {
	background-color: rgba(255, 51, 123, 1);
}

/* section renders */

.moreInfoCenter {
	margin: 130px 0 110px;
}
.moreInfocenterHead {
	display: flex;
	justify-content: flex-start;
	gap: 65px;
	border-bottom: 1px solid rgba(140, 140, 140, 0.6);
}
.moreInfoSection {
	font-size: 24px;
	line-height: 26px;
	letter-spacing: 1px;
	font-weight: 400;
	padding-bottom: 16px;
}

.sectionFocus {
	font-weight: 600;
	border-bottom: 1px solid rgba(255, 0, 90, 1);
	margin-top: -2px;
}
.productFullInfo {
	display: flex;
	justify-content: flex-start;
	gap: 89px;
	margin-top: 6px;
}
.fullInfoLeft,
.fullInfoRight {
	list-style: none;
}
.proInfoName,
.proInfoDesc {
	margin-top: 20px;
	font-size: 20px;
	line-height: 26px;
	font-weight: 700;
	letter-spacing: 1px;
}

.proInfoDesc {
	font-weight: 500;
}

/* last seen product start */
.lastSeenProTitle {
	font-size: 24px;
	line-height: 16px;
	letter-spacing: 1px;
	font-weight: 600;
	margin-bottom: 66px;
}
.popular-products-body {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.popular-product {
	width: 23%;
	overflow: hidden;
	position: relative;
	margin-bottom: 70px;
}
.product-img {
	scale: 0.8;
}
.grayBack {
	height: 290px;
	background-color: rgba(248, 248, 248, 1);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
	border-radius: 7px;
}
.firstProductImg {
	width: 170px;
	height: 240px;
}
.p-product-name {
	margin-bottom: 8px;
	color: rgba(26, 26, 26, 1);
	font-size: 15px;
	line-height: 16px;
	font-weight: 700;
	font-family: "Raleway", sans-serif;
	letter-spacing: 1px;
}
.p-product-size {
	margin-bottom: 8px;
	color: rgba(26, 26, 26, 0.5);
	font-size: 16px;
	line-height: 18px;
}
.p-product-price {
	font-family: "Raleway", sans-serif;
	color: rgba(26, 26, 26, 1);
	font-size: 25px;
	line-height: 29px;
	font-weight: 700;
}
.formerPrice {
	color: rgba(26, 26, 26, 0.5);
	font-size: 25px;
	line-height: 29px;
	font-weight: 400;
}

.discount {
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 24px;
	line-height: 16px;
	color: rgba(239, 24, 101, 1);
	font-weight: 600;
	font-family: "Raleway", sans-serif;
	letter-spacing: 0.82px;
}
