* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Raleway", sans-serif;
}

.profileWrapper {
	padding-top: 130px;
	margin: 0 100px;
	position: relative;
}
.profileHead {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.profileHeadTitle {
	font-size: 32px;
	line-height: 37px;
	color: rgba(70, 70, 70, 1);
	font-weight: 700;
	letter-spacing: 10%;
	padding: 50px 94px;
	border-radius: 10px 10px 0px 0px;
}
.settingOn {
	background-color: rgba(247, 247, 247, 1);
	color: rgba(34, 34, 34, 1);
}
.settingOn > .forUnderline {
	padding-bottom: 3px;
	border-bottom: 2px solid rgba(255, 0, 90, 1);
}

/* file uploading */
.file-upload-container {
	position: relative;
	width: 150px;
	height: 150px;
	border: 2px dashed #ff005a;
	border-radius: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.file-input {
	display: none;
}

.file-label {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.camera-icon {
	width: 36px;
	height: 32px;
	color: #ff005a;
}

.profileBody {
	background-color: rgba(238, 238, 238, 0.5);
	padding: 36px;
	max-width: 1200px;
}
.profileBodyItem {
	border: 0.5px solid rgba(255, 0, 90, 1);
	border-radius: 5px;
	padding: 26px 30px 33px 38px;
}
.profileBodyItem1 {
	display: flex;
	justify-content: space-between;
}
.profileItemLeft {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.profileItemTitle {
	font-size: 24px;
	line-height: 29px;
	font-weight: 600;
	font-family: "Montserrat", sans-serif;
}
.profileItemBtns {
	display: flex;
	gap: 12px;
}
.profileItemBtn {
	font-size: 20px;
	line-height: 26px;
	font-weight: 700;
	font-family: inherit;
	letter-spacing: 1px;
	color: rgba(255, 0, 90, 1);
	border: none;
	border-radius: 3px;
	padding: 10px 28px;
	background-color: inherit;
	border: 0.5px solid rgba(255, 0, 90, 1);
}
.profileBtnFocus {
	background-color: rgba(255, 0, 90, 1);
	color: white;
}

.profileBodyItem2 {
	margin-top: 30px;
}
.profileItemInputs {
	display: flex;
	justify-content: flex-start;
	gap: 12px;
	margin-top: 55px;
}

.profileInputDesc {
	font-size: 16px;
	line-height: 26px;
	color: rgba(34, 34, 34, 0.7);
	font-weight: 600;
	letter-spacing: 1px;
}
.profileItemInput {
	border: 0.5px solid rgba(255, 0, 90, 1);
	outline: none;
	padding: 10px 17px;
	font-size: 16px;
	line-height: 26px;
	font-family: inherit;
	border-radius: 3px;
}
.profileItemInput:focus {
	background-color: rgba(226, 226, 226, 1);
}

.userInfoWrapper {
	margin-top: 55px;
	max-width: 800px;
}
.infoOfUser,
.chooseTitle {
	font-size: 16px;
	line-height: 26px;
	color: rgba(34, 34, 34, 0.7);
	font-weight: 600;
	letter-spacing: 1px;
}
.userInfotextArea {
	width: 100%;
	outline: none;
	resize: none;
	border: 1px solid rgba(255, 0, 90, 1);
	background-color: rgba(217, 217, 217, 0.69);
	height: 150px;
	font-family: inherit;
	font-size: 16px;
	line-height: 26px;
	font-weight: 300;
	padding: 12px 15px;
	letter-spacing: 1px;
	border-radius: 3px;
}

.countryOptions {
	margin-top: 55px;
}

.chooseCountryWrap {
	margin-top: 12px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 20px;
}
.countryname {
	font-size: 16px;
	line-height: 26px;
	font-weight: 300;
	color: rgba(34, 34, 34, 0.7);
	letter-spacing: 1px;
	padding: 5px 27px;
	border-radius: 1000px;
	border: 1px solid rgba(255, 0, 90, 1);
	background-color: rgba(217, 217, 217, 0.69);
}

/* userLoginWrapper start */
/* .userLoginWrap {
	border: 0.5px solid rgba(255, 0, 90, 1);
	border-radius: 5px;
	width: 213px;
	position: absolute;
	top: 0;
	right: 0;
	background-color: white;
}
.userLoginHead {
	border-bottom: 0.5px solid rgba(255, 0, 90, 1);
	padding: 11px;
}
.userName {
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
}
.userEmail {
	font-size: 12px;
	line-height: 14px;
	margin-top: 11px;
}
.userLoginUl {
	list-style: none;
	padding: 11px 11px 0 11px;
}
.userLoginItem {
	margin-bottom: 12px;
	font-size: 16px;
	line-height: 18px;
	font-family: inherit;
}
.loginFocus {
	color: rgba(255, 0, 90, 1);
} */
