* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Raleway", sans-serif;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0px 100px 0 100px;
	padding-top: 30px;
	position: relative;
}
.header-left {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 50px;
}

.headerLeftMain {
	gap: 16px;
}

.headerMainImg {
	width: 89px;
	height: 88px;
}
.header-list {
	list-style: none;
	display: flex;
	align-items: center;
	gap: 30px;
	color: rgba(0, 0, 0, 1);
	font-size: 19px;
	line-height: 23px;
	font-weight: 400;
}
.header-item {
	user-select: none;
	font-family: "Montserrat" sans-serif;
	font-weight: 400;
	font-size: 19px;
	line-height: 23px;
}
.redFont {
	color: rgba(255, 0, 90, 1);
}
.header-right {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 40px;
}

.header-right-login {
	display: flex;
}
.loginBtn {
	border: none;
	background-color: inherit;
	color: rgba(255, 0, 90, 1);
	padding: 8px 28px;
	border: 1.1px solid rgba(255, 0, 90, 1);
	border-radius: 7px;
	font-size: 18px;
	line-height: 22px;
	font-weight: 400;
	margin-left: 20px;
	font-family: "Montserrat", sans-serif;
}
.redBack {
	background-color: rgba(255, 0, 90, 1);
	color: white;
}

/* head new order start */
.headerNewOrder {
	display: flex;
	align-items: center;
	gap: 15px;
}
.headnewOrderBtn {
	font-size: 20px;
	line-height: 26px;
	font-weight: 700;
	font-family: inherit;
	padding: 9px 38px;
	background-color: rgba(255, 0, 90, 1);
	color: white;
	border: none;
	border-radius: 3px;
}

.headImgsActiveColor path {
	fill: rgba(255, 0, 90, 1) !important;
}
.mr-More {
	margin-right: 40px;
}

/* userLoginWrapper start */
.userLoginWrap {
	border: 0.5px solid rgba(255, 0, 90, 1);
	border-radius: 5px;
	width: 213px;
	position: absolute;
	right: 0;
	top: 110px;
	background-color: white;
	z-index: 10;
}
.userLoginHead {
	border-bottom: 0.5px solid rgba(255, 0, 90, 1);
	padding: 11px;
}
.userName {
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
}
.userEmail {
	font-size: 12px;
	line-height: 14px;
	margin-top: 11px;
}
.userLoginUl {
	list-style: none;
	padding: 11px 11px 0 11px;
}
.userLoginItem {
	margin-bottom: 12px;
	font-size: 16px;
	line-height: 18px;
	font-family: inherit;
}
.loginFocus {
	color: rgba(255, 0, 90, 1);
}
a {
	text-decoration: none;
	color: inherit;
}

.getNone {
	display: none;
}
.getBlock {
	display: block;
}
