* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Montserrat", sans-serif;
}

.brandDutyBanner {
	margin: 10px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.brandGeneralTitle {
	font-size: 55px;
	line-height: 63px;
	font-weight: 800;

	color: rgba(63, 67, 71, 1);
}

.brandDutyBannerTitle {
	font-size: 55px;
	line-height: 63px;
	font-weight: 800;

	color: rgba(63, 67, 71, 1);
}
.redFont {
	color: rgba(255, 0, 90, 1) !important;
}
.brandDutyBannerDesc {
	font-size: 22px;
	line-height: 32px;
	margin: 10px 0 19px;

	color: rgba(63, 67, 71, 1);
}
.brandGeneralBtn {
	color: white;
	background-color: rgba(255, 0, 90, 1);
	border-radius: 7px;
	padding: 15px 50px;
	border: none;
	font-size: 17px;
	line-height: 20px;
	font-weight: 500;
	font-family: "Montserrat", sans-serif;
}

.fullOne {
	margin-top: 40px;
	color: rgba(0, 0, 0, 1);
	font-size: 16px;
	line-height: 23px;
	text-align: justify;
	font-weight: 400;
	margin-bottom: -25px;
}

.brandDutyBannerImg {
	margin-right: -50px;
	display: block;
	width: 620px;
	height: 500px;
}

/* principles start*/
.principles {
	margin: 65px 100px;
}
.principleTitle {
	max-width: 700px;
	text-align: center;
	margin: 0 auto 47px;
}

.largerWeight {
	font-weight: bold;
}
.principlesBody {
	position: relative;
	min-height: 800px;
	position: relative;
}

.principleItemWrap {
	position: absolute;
}

.principleItemWrap1 {
	top: 0;
	left: -50px;
}
.principleItemWrap2 {
	top: 280px;
	left: 25%;
}
.principleItemWrap3 {
	top: 60px;
	right: -30px;
}

.principleItem {
	width: 500px;
	height: 350px;
	position: relative;
}

.principleItem2 {
	height: 380px;
}
.principleItem3 {
	height: 380px;
}
.principleItemImg {
	display: block;
	width: 100%;
	height: 100%;
}

.principleInfo {
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	align-items: center;
	gap: 9px;
	top: 40%;
	left: 20%;
}

.principleItemTitle {
	color: rgba(0, 0, 0, 1);
	font-size: 70px;
	line-height: 85px;
	text-align: center;
	font-weight: 800;
}
.principleItemDesc {
	color: rgba(0, 0, 0, 1);
	font-size: 21px;
	line-height: 25px;
	font-weight: 300;
	max-width: 320px;
}

.principleItemDesc1 {
	max-width: 300px;
}

.principleFirstArrow {
	position: absolute;
	top: 350px;
	left: 80px;
}
.principleSecondArrow {
	position: absolute;
	left: 45%;
	top: 100px;
}

/* whyWe start */
.whyWe {
	margin: 0 100px;
	background-image: url(/Sources/whyWeBackImg.png);
	background-position-x: right;
	background-position-y: bottom;
	background-size: 70%;
	background-repeat: no-repeat;
}
.whyWeTitle {
	max-width: 400px;
	margin: 0 auto;
	text-align: center;
}
.whyWeBody {
	display: flex;
	justify-content: space-between;
}
.whyWeLeftSide {
	width: 50%;
}
.whyWeImg {
	display: block;
	max-width: 100%;
}
.whyWeRightSide {
	width: 45%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.whyWeSubtitle {
	font-family: "Inter";
	font-size: 35px;
	line-height: 45px;
	font-weight: 600;
	margin-bottom: 40px;
}
.whyWeFootTitle {
	max-width: 400px;
	margin-top: 150px;
	margin-bottom: 70px;
}

/* roadMap start */
.roadMap {
	margin: 150px 50px 300px;
	position: relative;
}
.roadMapTitle {
	text-align: center;
	margin-bottom: 50px;
}

.roadMapBody {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 0.5fr;
	grid-template-rows: 70px 230px 220px 220px;
	width: 100%;
	height: 600px;
}
.roadMapItem {
	border-bottom: none;
	border-right: 1px solid gray;

	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="1.5"><line x1="0" y1="2" x2="8" y2="2" stroke="gray" stroke-width="2" stroke-dasharray="6, 2" /></svg>')
		repeat-x;
	position: relative;
}
.roadMapItem:nth-child(6),
.roadMapItem:nth-child(12),
.roadMapItem:nth-child(18),
.roadMapItem:nth-child(24) {
	border-right: none;
}
.roadMapItem:nth-child(1),
.roadMapItem:nth-child(2),
.roadMapItem:nth-child(3),
.roadMapItem:nth-child(4),
.roadMapItem:nth-child(5),
.roadMapItem:nth-child(6) {
	background: none;
}
.roadMapItem:nth-child(1) {
	border: none;
}
.roadMapItem:nth-child(7) {
	border: none;
	background: none;
}
.roadMapItem:nth-child(12) {
	background: none;
}

.roadMapItem:nth-child(13),
.roadMapItem:nth-child(19) {
	border: none;
}

.roadMapGrayBack {
	background-color: rgba(217, 217, 217, 0.3);
	padding: 0 8px;
}
.roadItemInfo {
	margin-top: 30px;
}
.mtMore {
	margin-top: 43px;
}

.roadMapItemdesc {
	font-family: "Raleway", sans-serif;
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
	color: rgba(0, 0, 0, 1);
	margin-top: 20px;
}

.circleWrapAbsolute {
	position: absolute;
	bottom: -50px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
}
.circleImgWrap {
	position: relative;
}
.circleImg {
	width: 110px;
	height: 110px;
}
.circleInfo {
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
}
.circleInfoName {
	color: rgba(0, 0, 0, 1);
	font-size: 30px;
	line-height: 36px;
	font-weight: 800;
	font-family: "Radio Canada", sans-serif;
}
.circleInfoYear {
	color: rgba(0, 0, 0, 1);
	font-size: 20px;
	line-height: 24px;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
}

.roadLeftImgWrap {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.justifyCenter {
	justify-content: center;
}
.roadLeftImg {
	display: block;
	scale: 0.9;
}
.roadLeftImgInfo {
	position: absolute;
	top: 0;
	text-align: center;
	left: 50%;
	transform: translateX(-50%);
	top: 33%;
}

.roadLeftImgDesc {
	color: white;
	font-family: "Raleway";
	font-size: 17.5px;
	line-height: 21px;
	font-weight: 700;
}

.roadLeftPlane {
	position: absolute;
	left: -70px;
	top: -180px;
	width: 1200px;
}
.roadRightPlane {
	position: absolute;
	right: 0;
	top: 100px;
	width: 900px;
	z-index: 0;
}

/* workWith start */

.workWith {
	margin: 150px 100px;
}
.workWithTitle {
	max-width: 850px;
	text-align: center;
	margin: 0 auto 80px;
}
.workWithBody {
	display: flex;
	justify-content: space-between;
}
.workWithLeft {
	width: 49%;
}
.workWithLeftDesc {
	font-size: 30px;
	line-height: 36px;
	text-align: justify;
	font-weight: 300;
	color: rgba(16, 24, 40, 1);
	font-family: "Raleway", sans-serif;
}
.workWithQuestionarie {
	margin-top: 90px;
}
.workWithLeftTitle {
	font-size: 26px;
	line-height: 32px;
	font-weight: 700;
	color: rgba(0, 0, 0, 1);
	text-align: justify;
	font-family: "Raleway", sans-serif;
	margin-bottom: 40px;
}
.workWithRight {
	width: 40%;
}
.workWithForm {
	background-color: rgba(253, 195, 217, 1);
	padding: 25px 50px;
	text-align: center;
	border: 4px solid rgba(255, 147, 188, 1);
}
.workWithFormTitle {
	color: white;
	font-size: 25px;
	line-height: 43px;
}
.workWithInputs {
	margin-top: 25px;
	display: flex;
	justify-content: space-between;
}
.workWithInput {
	border: none;
	border-radius: 3px;
	padding: 17px 15px;
	font-size: 16px;
	line-height: 19px;
	color: rgba(165, 165, 165, 1);
	width: 41%;
	outline: none;
	font-family: "Raleway", sans-serif;
}
.workWithEmail {
	width: 52%;
}
.workWithInput::placeholder,
.workWithTextArea::placeholder {
	color: rgba(165, 165, 165, 1);
	font-size: 16px;
	line-height: 19px;
	font-family: "Raleway", sans-serif;
}
.workWithTextArea {
	min-height: 220px;
	width: 100%;
	margin: 25px 0;
	color: rgba(165, 165, 165, 1);
	resize: none;
	border: none;
	outline: none;
	padding: 11px 15px;
	font-family: "Raleway", sans-serif;
	border-radius: 5px;
	font-size: 16px;
	line-height: 19px;
}

.workWithSendBtn {
	font-family: "Montserrat", sans-serif;
}

/* workWith questionarie */
.workWith-questions-ul {
	list-style: none;
}
.workWith-question-item {
	margin-top: 22px;
	border-top: 1.36px solid rgba(234, 236, 240, 1);
	padding: 22px 0 0 0;
	color: rgba(16, 24, 40, 1);
	font-size: 20px;
	line-height: 28px;
	font-weight: 500;
	font-family: "Raleway";
}
.workWith-question-item:nth-child(1) {
	border: none;
	font-size: 22px;
}
.workWith-question-face {
	display: flex;
	justify-content: space-between;
}
.workWith-answer-item {
	color: rgba(102, 112, 133, 1);
	font-weight: 400;
	font-size: 18px;
	line-height: 32px;
	padding-right: 10px;
}

.workWith-moreAnswerMinus {
	display: none;
}
.getBlock {
	display: block;
}

.getNone {
	display: none;
}
