* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Raleway", sans-serif;
}

.searchPage {
	margin: 26px 100px;
}

.searchPageBody {
	display: flex;
	justify-content: space-between;
	margin-top: 45px;
}

.searchLeftSide {
	width: 45%;
}
.searchRightSide {
	width: 50%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.searchPageInput {
	width: 100%;
	border: 0.5px solid rgba(255, 0, 90, 1);
	outline: none;
	padding: 14px 31px;
	font-size: 19px;
	line-height: 23px;
	font-weight: 500;
	font-family: "Montserrat", sans-serif;
	border-radius: 5px;
}

.searchREsultTitle {
	font-size: 36px;
	line-height: 16px;
	color: rgba(26, 26, 26, 1);
	font-weight: 700;
}
.searchResults {
	margin-top: 49px;
	list-style: none;
}
.searchResult {
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	line-height: 29px;
	margin-top: 15px;
	font-weight: 500;
}

/* right side start */
.searchedProduct {
	width: 47.5%;
	overflow: hidden;
	position: relative;
	margin-bottom: 70px;
}
.product-img {
	scale: 0.8;
}
.grayBack {
	height: 290px;
	background-color: rgba(248, 248, 248, 1);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
	border-radius: 7px;
}
.firstProductImg {
	width: 170px;
	height: 240px;
}
.p-product-name {
	margin-bottom: 8px;
	color: rgba(26, 26, 26, 1);
	font-size: 15px;
	line-height: 16px;
	font-weight: 700;
	font-family: "Raleway", sans-serif;
	letter-spacing: 1px;
}
.p-product-size {
	margin-bottom: 8px;
	color: rgba(26, 26, 26, 0.5);
	font-size: 16px;
	line-height: 18px;
}
.p-product-price {
	font-family: "Raleway", sans-serif;
	color: rgba(26, 26, 26, 1);
	font-size: 25px;
	line-height: 29px;
	font-weight: 700;
}
.formerPrice {
	color: rgba(26, 26, 26, 0.5);
	font-size: 25px;
	line-height: 29px;
	font-weight: 400;
}
