* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Raleway", sans-serif;
}

.myOrdersWrapper {
	margin: 130px 100px;
	background-color: rgba(238, 238, 238, 0.5);
	padding: 25px 44px;
	border-radius: 5px;
	position: relative;
}
.myOrdersTitle {
	font-size: 32px;
	line-height: 37px;
	font-weight: 700;
	margin-bottom: 41px;
}
.myOrdersHead {
	display: flex;
	justify-content: flex-start;
	gap: 53px;
}
.myOrdersHeadTitle {
	font-size: 20px;
	line-height: 23px;
	font-weight: 400;
}

.onFocus {
	font-weight: 600 !important;
	padding-bottom: 2px;
	border-bottom: 2px solid rgba(255, 0, 90, 1);
}
.myOrdersBody {
	display: flex;
	justify-content: space-between;
	margin-top: 55px;
	gap: 20px;
}
.myOrdersLeft {
	display: flex;
	flex-direction: column;
	gap: 17px;
}

.myOrdersLeftItem {
	background-color: rgba(230, 230, 230, 1);
	border-radius: 5px;
	padding: 20px 25px;
	width: 450px;
	display: flex;
	justify-content: flex-start;
	gap: 20px;
	align-items: flex-start;
}

.itemOnFocus {
	background-color: rgba(193, 193, 193, 1) !important;
}

.myOrdersLeftRight {
	width: 100%;
}
.nickAndOrder {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.myOrdersNick,
.myOrdersOrderNum {
	font-size: 20px;
	line-height: 23px;
	font-weight: 700;
}
.myOrdersOrderNum {
	line-height: 23px;
}
.myOrderDesc {
	font-size: 20px;
	line-height: 23px;
	font-weight: 400;
	margin-top: 18px;
}
.seeDetail {
	color: rgba(255, 0, 90, 1);
	margin-top: 30px;
	border-bottom: 1px solid rgba(255, 0, 90, 1);
	width: fit-content;
}

.montserratFamily {
	font-family: "Montserrat", sans-serif !important;
}

.myOrdersRight {
	background-color: rgba(230, 230, 230, 1);
	border-radius: 7px;
	padding: 15px 23px 21px 23px;
	width: 100%;
}
.myOrdersRightHead {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 0.5px solid rgba(106, 106, 106, 1);
	padding-bottom: 25px;
}

.myOrdersRightHeadRight {
	display: flex;
	align-items: center;
	gap: 18px;
}
.HeadrightTitle {
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
}

.flexJustifyCenter {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 5px;
}

.myOrdersLeftImg {
	width: 120px;
	height: 120px;
}
.HeadRightImg {
	width: 81px;
	height: 81px;
}

/* chat start here */
.chatHistory {
	margin-top: 35px;
	padding-bottom: 30px;
	position: relative;
}
.chatHistoryTitle {
	text-align: center;
	font-size: 10px;
	line-height: 11px;
	color: rgba(34, 34, 34, 1);
	font-weight: 400;
	margin-bottom: 35px;
}

.chatMessage {
	font-size: 12px;
	line-height: 17px;
	font-weight: 400;
	text-align: justify;
	width: 49%;
	margin: 0px 0 55px;
	border-radius: 5px;
	padding: 8px 12px;
	position: relative;
}
.adminChatMessage {
	background-color: rgba(253, 195, 217, 1);
	padding-bottom: 32px;
}
.userChatMessage {
	padding-bottom: 27px;
	background-color: white;
	margin-left: auto;
}

.messageTime {
	position: absolute;
	bottom: 7px;
	right: 20px;
	font-family: "Montserrat", sans-serif;
}

.chatBottomDesc {
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: rgba(34, 34, 34, 1);
	text-align: center;
}

/* navbar start */
.topNavBarWrap {
	max-width: 700px;
	border-radius: 20px 0 0 20px;
	position: absolute;
	background-color: white;
	top: 0px;
	right: 0;
	border: 2px solid black;
}
.topPerNavBar {
	max-width: 700px;
	padding: 100px 40px 0 40px;
	height: 100vh;
	position: relative;
	border-radius: 20px 0 0 20px;
}
.topBarBody {
	display: flex;
	align-items: center;
	gap: 20px;
	position: relative;
}

.navBarRedHeart {
	position: absolute;
	top: 0;
	right: 0;
	width: 25px;
	height: 20px;
}

.topNavBarImg {
	width: 100px;
	height: 100px;
}

.topBarTitle {
	font-size: 24px;
	line-height: 29px;
	font-weight: 700;
}

.navBarClock {
	font-size: 20px;
	line-height: 24px;
}
.topBarDesc {
	font-size: 17px;
	line-height: 22px;
	font-weight: 700;
	margin: 15px 0 10px;
	color: rebeccapurple;
}
.navBarFoot {
	margin-top: 31px;
}
.navBarFootTitle {
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
}
.navBarFootdesc {
	margin-top: 10px;
	font-weight: 300;
	line-height: 19px;
	font-size: 16px;
}

.navBarCloseImg {
	position: absolute;
	top: 30px;
	left: 38px;
	width: 40px;
	height: 40px;
}

.navbarFootCenter {
	margin-top: 30px;
}

.navBarBottom {
	margin-top: 32px;
}
.navbarBottomTitle,
.NavBarAddress,
.aboutUser {
	font-size: 20px;
	line-height: 24px;
	font-weight: 600;
}

.navbarBottomTitle {
	padding-bottom: 11px;
	border-bottom: 0.5px solid rgba(34, 34, 34, 1);
}

.inputAndStar {
	display: flex;
	align-items: center;
	gap: 14px;
	margin-top: 14px;
}
.writeReviewInput {
	background-color: rgba(217, 217, 217, 1);
	border: none;
	outline: none;
	padding: 5px 12px;
	width: 60%;
	border-radius: 2px;
	font-family: "Inter", sans-serif;
	font-weight: 300;
	color: rgba(34, 34, 34, 1);
}

.writeReviewInput::placeholder {
	color: rgba(34, 34, 34, 1);
}

.grayStars {
	width: 120px;
}

.navBarSelect {
	font-size: 16px;
	line-height: 20px;
	margin-top: 15px;
	border: 0.5px solid rgba(255, 0, 90, 1);
	padding: 5px 20px;
	border-radius: 5px;
	outline: none;
}

.flexDisplay {
	display: flex;
}

.navBarBtn {
	margin-bottom: 32px;
	width: 70%;
	font-size: 16px;
	margin-left: auto;
	margin-top: 0;
	background-color: rgba(249, 77, 141, 1);
}

/* smallBar start */
.smallBar {
	border: 0.5px solid rgba(255, 0, 90, 1);
	border-radius: 10px;
	max-width: 350px;
	padding: 18px 20px;
	height: 400px;
	position: absolute;
	top: -100px;
	right: 0;
	background-color: white;
}
.smallBarBody {
	display: flex;
	align-items: center;
	gap: 11px;
}

.smallBarImg {
	width: 80px;
	height: 80px;
}

.smallBarTitle {
	margin-bottom: 14px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
}
.smallBarFirstDesc {
	font-size: 16px;
	line-height: 18px;
	font-weight: 300;
}
.smallBarSecDesc {
	color: rgba(34, 34, 34, 0.72);
	font-size: 10px;
	line-height: 11px;
	font-weight: 300;
	margin-top: 3px;
}
