* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Raleway", sans-serif;
	position: relative;
}

/* .allOrderingWrapper {
	position: relative;
} */

.myOrderingWrapper {
	margin: 130px 100px 0;
}

.myOrderingHead {
	display: flex;
	justify-content: space-between;
}
.orderingHeadItem {
	display: flex;
	gap: 10px;
	align-items: center;
	max-width: 270px;
}
.orderingHeadItemImg {
	width: 40px;
	height: 40px;
	border-radius: 100px;
}
.orderingHeadItemDesc {
	font-size: 15px;
	line-height: 20px;
	font-family: "Montserrat", sans-serif;
}

/* ordering mssage start */

/* fileuploading */
.fileUploadWrap {
	position: relative;
	border: 1px solid rgba(255, 0, 90, 1);
	border-radius: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 220px;
	font-size: 16px;
	line-height: 20px;
	font-weight: 800;
	color: rgba(255, 0, 90, 1);
	padding: 15px 13px;
	letter-spacing: 1px;
}

.fileOrderingLabel {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.uploadingImg {
	margin-right: 3px;
}

.fileOrderingInput {
	display: none;
}
/* fileuploading */

.newOrder {
	margin-top: 54px;
}
.orderingGeneralTitle {
	font-size: 32px;
	line-height: 37px;
	font-weight: 700;
}
.newOrderTitle {
	margin-bottom: 58px;
	text-align: center;
}
.newOrderMessageWrap {
	box-shadow: 0px 4px 92.5px 0px rgba(253, 195, 217, 0.65);
	border-radius: 10px;
	height: 400px;
	position: relative;
}
.newOrderMessage {
	font-size: 15px;
	line-height: 20px;
	font-weight: 400;
	color: rgba(34, 34, 34, 1);
	font-family: inherit;
	resize: none;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	padding: 20px 29px;
	border-radius: 10px;
}

.newOrderMessage::-webkit-scrollbar {
	display: none;
}

.doOrderingWrap {
	position: absolute;
	right: 36px;
	bottom: 28px;
	display: flex;
	gap: 25px;
}
.doOrderBtn {
	font-size: 16px;
	line-height: 20px;
	font-weight: 800;
	letter-spacing: 1px;
	padding: 15px 47px;
	background-color: rgba(255, 0, 90, 1);
	border-radius: 3px;
	color: white;
	font-family: inherit;
	border: none;
}

/* my orders start */
.myOrders {
	margin: 131px 0px;
}

.myOrdersTitle {
	margin-bottom: 74px;
	display: flex;
	align-items: center;
}
.pinkBackFont {
	font-size: 13px;
	line-height: 15px;
	font-weight: 600;
	color: rgba(34, 34, 34, 0.78);
	background-color: rgba(253, 195, 217, 1);
	padding: 8px 19px;
	border-radius: 1000px;
	margin-left: 20px;
}
.allOrdersWrapper {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	gap: 10px;
}
.allOrderItem {
	background-color: rgba(82, 82, 82, 0.1);
	border-radius: 5px;
	padding: 20px 30px;
}
.orderItemHead {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
	gap: 180px;
}
.inProccess {
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	color: rgba(249, 77, 141, 1);
	padding: 4px 22px;
	border-radius: 1000px;
	font-family: inherit;
	border: 0.5px solid rgba(249, 77, 141, 1);
}
.numberOfOrder {
	font-family: "Montserrat", sans-serif;
}
.orderItemBody {
	margin-bottom: 30px;
}
.orderItemInfo {
	font-size: 14px;
	line-height: 16px;
	font-weight: 600;
	margin-top: 8px;
}
.lighterSpan {
	font-weight: 300 !important;
}
.orderPriceWeight {
	font-family: "Montserrat", sans-serif;
}
.orderItemFoot {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.orderItemDate {
	color: rgba(106, 106, 106, 1);
	font-size: 14px;
	line-height: 16px;
	font-weight: 500;
}
.orderItemState {
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 1px;
	font-weight: 800;
	font-family: inherit;
	color: white;
	padding: 5px 36px;
	border: none;
	border-radius: 3px;
	background-color: rgba(249, 77, 141, 1);
}

/* top products start */
.popProducts {
	margin: 130px 0px;
	position: relative;
}
.popProductsTitle {
	margin-bottom: 54px;
}
.popProducts-body {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.popProduct-item {
	width: 16%;
}
.popProductGrayBack {
	background-color: rgba(26, 26, 26, 0.03);
	border-radius: 4px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 300px;
}
.popProductImg {
	display: block;
	margin: 0 auto;
}
.popProductDesc,
.popProductPrice,
.popProductName,
.oldPrice {
	font-family: "Raleway", sans-serif;
}
.popProductDesc {
	font-size: 15px;
	line-height: 16px;
	color: rgba(26, 26, 26, 1);
	margin: 10px 0 5px;
	font-weight: 600;
}
.pinkFont {
	color: rgba(239, 24, 101, 1);
}
.popProductPrice {
	font-weight: 700;
	font-size: 25px;
	line-height: 29px;
	color: rgba(26, 26, 26, 1);
}
.popProductName {
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: rgba(26, 26, 26, 0.5);
	margin-top: 8px;
}
.oldPrice {
	font-size: 25px;
	line-height: 29px;
	font-weight: 400;
	color: rgba(26, 26, 26, 0.5);
}

/* recommendations start */
.recommendationBody {
	margin-top: 53px;
	display: flex;
	justify-content: flex-start;
	gap: 10px;
	flex-wrap: wrap;
}
.recoItem {
	background-color: rgba(82, 82, 82, 0.1);
	border-radius: 5px;
	padding: 19px;
	width: 450px;
}
.recommendationHead {
	display: flex;
	justify-content: flex-start;
	gap: 22px;
}

.recoHeadRight {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.realNickName {
	margin-bottom: 7px;
	font-size: 20px;
	line-height: 23px;
	font-weight: 700;
}

.recoRightPeriod {
	display: flex;
	justify-content: flex-start;
	gap: 8px;
	align-items: center;
	margin-top: 24px;
}

.recoRightDesc {
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	line-height: 17px;
	font-weight: 300;
}

.recoFoot {
	margin: 0 15px;
}

.controlCountry {
	font-size: 14px;
	line-height: 16px;
	font-weight: 600;
	margin-top: 26px;
}

.recoOfferBtn {
	font-size: 20px;
	line-height: 23px;
	font-weight: 600;
	font-family: inherit;
	color: white;
	width: 100%;
	padding: 10px 0 9px;
	background-color: rgba(249, 77, 141, 1);
	border: none;
	border-radius: 3px;
	margin-top: 26px;
}

/* real new ordering start */
.realNewOrdering {
	margin: 200px 0;
	background-color: pink;
	padding: 20px;
	height: 100vh;
	background-image: url(/Sources/realNewOrderBackImg.png);
	background-repeat: no-repeat;
	position: fixed;
	width: 102%;
	top: -200px;
	left: -10px;
}
.relativeInAbsolute {
	position: relative;
}

.getNone {
	display: none !important;
}
.getBlock {
	display: block !important;
}

.realNewOrderBody {
	max-width: 750px;
	margin: 0 auto;
	background-color: white;
	padding: 20px 28px;
	border-radius: 10px;
	margin-bottom: auto;
}
.realNewOrderTitle {
	font-size: 26px;
	line-height: 19px;
	font-weight: 700;
	letter-spacing: 10%;
	text-align: center;
	margin: 20px 0;
}

.realNewOrderGeneralTitle {
	color: rgba(34, 34, 34, 0.7);
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 7px;
	font-weight: 600;
}

.realOrderInputs {
	margin-top: 24px;
}
.realOrderInputsBody {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	flex-wrap: wrap;
}

.mtbMore {
	margin-bottom: 22px;
}

.realOrderGInput {
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	letter-spacing: 1px;
	border: 0.5px solid rgba(255, 0, 90, 1);
	border-radius: 3px;
	padding: 8px 15px;
	font-family: inherit;
	width: 200px;
	outline: none;
	margin-right: 27px;
}
.offeredMoney {
	display: flex;
	justify-content: flex-start;
	gap: 4px;
}
.offerMoneyTitle {
	margin: 0;
}
.offeredMoneyInput {
	border: none;
	outline: none;
	border-bottom: 0.5px solid rgba(101, 101, 101, 1);
}

.newOrderExitImg {
	position: absolute;
	top: 0;
	left: 80px;
}

/* fileuploading */
.realfileUploadWrap {
	position: relative;
	border: 1px solid rgba(255, 0, 90, 1);
	border-radius: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 220px;
	font-size: 14px;
	line-height: 20px;
	font-weight: 800;
	color: rgba(255, 0, 90, 1);
	padding: 15px 13px;
	letter-spacing: 1px;
}

.realfileOrderingLabel {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.realuploadingImg {
	margin-right: 3px;
}

.realfileOrderingInput {
	display: none;
}
/* fileuploading */
.realnewOrderMessageWrap {
	border-radius: 5px;
	height: 200px;
	position: relative;
	background-color: rgba(247, 247, 247, 1);
}
.realnewOrderMessage {
	font-size: 12px;
	line-height: 26px;
	font-weight: 300;
	color: rgba(34, 34, 34, 0.7);
	font-family: inherit;
	resize: none;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	padding: 4px 18px;
	border-radius: 5px;
	background-color: rgba(247, 247, 247, 1);
	letter-spacing: 1px;
}

.realnewOrderMessage::-webkit-scrollbar {
	display: none;
}

.realdoOrderingWrap {
	position: absolute;
	right: 26px;
	bottom: 18px;
	display: flex;
}
.realdoOrderBtn {
	font-size: 14px;
	line-height: 20px;
	font-weight: 800;
	letter-spacing: 1px;
	padding: 15px 47px;
	background-color: rgba(255, 0, 90, 1);
	border-radius: 3px;
	color: white;
	font-family: inherit;
	border: none;
	display: block;
	margin: 70px auto 0;
}
