* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Raleway", sans-serif;
}

.performersBodyHead {
	display: flex;
}
.inputWrapper {
	width: 750px;
	position: relative;
	border-radius: 5px;
}
.searchIcon {
	width: 18px;
	height: 18px;
	position: absolute;
	left: 12px;
	top: 10px;
}
.performerInput {
	width: 100%;
	height: 100%;
	font-size: 15px;
	line-height: 17px;
	font-weight: 300;
	color: rgba(34, 34, 34, 1);
	border: none;
	outline: none;
	padding: 10px 38px;
	background-color: rgba(217, 217, 217, 1);
	font-family: inherit;
	border-radius: 5px;
}
.selectDirection {
	height: 100%;
	margin-left: 10px;
	border: 0.5px solid rgba(255, 0, 90, 1);
	border-radius: 5px;
	outline: none;
	font-size: 17px;
	line-height: 20px;
	font-family: inherit;
	padding: 8px 20px 10px 8px;
}
.performToggleWrap {
	display: flex;
	align-items: center;
	margin-left: 26px;
	gap: 8px;
}
.toggleDesc {
	font-size: 17px;
	line-height: 20px;
}

/* toggle start */
.performSwitchBtn {
	background-color: rgba(34, 34, 34, 1);
	width: 25px;
	height: 12.5px;
	border-radius: 200px;
	cursor: pointer;
	position: relative;
	display: inline-block;
}

.performSwitchBtn::before {
	position: absolute;
	content: "";
	background-color: white;
	width: 10.5px;
	height: 10.5px;
	border-radius: 50%;
	top: 1px;
	left: 1px;
	transition: transform 0.3s ease;
}

.performSwitchInput {
	display: none;
}

.performSwitchInput:checked + .performSwitchBtn {
	background-color: rgba(255, 0, 90, 1);
}

.performSwitchInput:checked + .performSwitchBtn::before {
	transform: translateX(12.5px);
}
